IP= 10.108.64.3
PUERTO=5001
TAMANIO=384
TAMANIO_PAGINA=32
TIPO_ASIGNACION=DINAMICA
MARCOS_POR_CARPINCHO=4
ALGORITMO_REEMPLAZO_MMU=LRU
CANTIDAD_ENTRADAS_TLB=12
ALGORITMO_REEMPLAZO_TLB=FIFO
RETARDO_ACIERTO_TLB=100
RETARDO_FALLO_TLB=500
PATH_DUMP_TLB=/home/utnso/dumps/tlb
IP_SWAMP= 10.108.64.2
PUERTO_SWAMP=5002